<div class="hidden-print">
  {{#if isSales}}
  <div class="form-group">
    <div class="col-md-3">Sales Person</div>
    <div class="col-md-9">
      {{#power-select selected=model.salesperson options=session.salespersons onchange=(action "selectSP") searchField="salesperson_name" as |salesperson|}}
        {{salesperson.salesperson_name}}
      {{/power-select}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-3">Phone Number</div>
    <div class="col-md-9">
      {{input class="form-control" value=model.phone_number autofocus=true}}
    </div>
  </div><br><br>
  {{/if}}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width:5%">S.No</th>
        <th style="width:15%">SKU</th>
        <th style="width:15%">Name</th>
        <th style="width:14%">Qty</th>
        <th style="width:14%">Rate</th>
        <th style="width:14%">Discount</th>
        <th style="width:14%">Total</th>
        <th style="width:9%"></th>
      </tr>
    </thead>
    <tbody>
      {{#each model.line_items as |lineItem index|}}
        <tr>
          <td>{{get-index index}}</td>
          <td>{{lineItem.sku}}</td>
          <td>{{lineItem.name}}</td>
          <td>{{input class="form-control" value=lineItem.quantity disabled=model.isSaving}}</td>
          <td>
            {{#if lineItem.isCustom}}
              <td>{{input class="form-control" value=lineItem.rate autofocus=true disabled=model.isSaving}}</td>
            {{else}}
              {{lineItem.rate}}
            {{/if}}
          </td>
          <td>{{lineItem.discount}}</td>
          <td>{{lineItem.total}}</td>
          <td {{action "removeLineItem" lineItem}}><button type="button" class="btn btn-danger pull-right">Delete</button></td>
        </tr>
      {{/each}}
      <tr>
        <td></td>
        <td>{{input class="form-control" value=id enter="itemChanged" autofocus=(not isSales)}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="text-right">Subtotal</td>
        <td colspan="3">{{model.qtyTotal}}</td>
        <td>{{model.subtotal}}</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="6" class="text-right">Discount</td>
        <td>{{model.discount}}</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="6" class="text-right">Total</td>
        <td>{{model.total}}</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
  <div class="btn-toolbar pull-right">
    <div class="btn-group">
      <button type="button" disabled= {{model.isSaving}} {{action "saveAndPrint" true}} class="btn btn-default">Save & New</button>
      </div>
    <div class="btn-group">
      <button type="button" disabled= {{model.isSaving}} {{action "saveAndPrint" false}} class="btn btn-primary">Save & Print</button>
      </div>
    <div class="btn-group"><button type="button" {{action "newSale"}} class="btn btn-default">New Sale</button></div>
  </div>
</div>
