{{#if model.canShowPrint}}
<div class="receipt-print">
  <div style="border: 1px solid #333;">
    <div style="border-bottom: 1px solid #333;">
      <div style="text-align: center;"><b><font size="6">ROYAL COTTON LAND</font></b></div>
      <div style="text-align: center;">6A, Mahal 1st Street</div>
      <div style="text-align: center;">Madurai<br><br></div>
    </div>
    <table style="width:100%">
      <tbody>
        <tr style="border-bottom: 1px solid #333;">
          {{#if isCredit}}
          <td>Credit No:</td>
          <td style="border-left: 1px solid #333;padding-left:5px">{{model.creditnote_number}}</td>
          {{else}}
          <td>Bill No:</td>
          <td style="border-left: 1px solid #333;padding-left:5px">{{model.invoice_number}}</td>
          {{/if}}
        </tr>
        <tr>
          <td>Date: </td>
          <td style="border-left: 1px solid #333;padding-left:5px">{{model.date}} <span class="pull-right" style="margin-right: 10px">{{model.time}}</span></td>
        </tr>
      </tbody>
    </table>
    <table class="pcs-itemtable" style="border-collapse: collapse;">
      <thead>
        <tr style="height:32px;">
          <td style="word-wrap: break-word;width: 5%;">S.No&nbsp;</td>
          <td style="word-wrap: break-word;width: 45%;">Item&nbsp;</td>
          <td style="word-wrap: break-word;width: 14%;" align="right">Rate</td>
          <td style="word-wrap: break-word;width: 11%;" align="right">Qty</td>
          <td style="word-wrap: break-word;width: 25%;" align="right">Amount</td>
        </tr>
      </thead>
      <tbody style="font-weight: bold">
        {{#each model.line_items as |lineItem index|}}
          <tr>
            <td valign="top">{{get-index index}}</td>
            <td valign="top"> <span style="word-wrap: break-word;" id="tmp_item_name">{{lineItem.description}}</span></td>
            <td style="text-align:right;word-wrap: break-word;" valign="top"> <span id="tmp_item_rate">{{lineItem.rate}}</span> <br> </td>
            <td style="text-align:right;word-wrap: break-word;" valign="top"> <span id="tmp_item_qty">{{lineItem.quantity}}</span> <br> </td>
            <td style="text-align:right;word-wrap: break-word;" valign="top">{{lineItem.total}} <br> </td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr style="height:32px;">
          <td colspan="3" style="word-wrap: break-word;width: 5%;">Sub Total</td>
          <td style="word-wrap: break-word;width: 11%;" align="right">{{model.qtyTotal}}</td>
          <td style="word-wrap: break-word;width: 25%;" align="right">{{model.subtotal}}</td>
        </tr>
        {{#if model.discount}}
        <tr style="height:32px;font-size:18px">
          <td colspan="4" style="word-wrap: break-word;width: 5%;">Discount</td>
          <td style="word-wrap: break-word;width: 25%;" align="right"><b> {{model.discount}}</b></td>
        </tr>
        {{/if}}
      </tfoot>
    </table>
    <div style="text-align: right;"><b><font size="5">Rs. {{model.total}}</font></b> <br> </div>
  </div>
  <p class="text-center">Thank You. Visit Again</p>
</div>
{{/if}}
