<form style="margin: 20px" class="hidden-print">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Invoice No</th>
        <th>Discount</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |invoice index|}}
        <tr>
          <td>{{get-index index}}</td>
          <td>{{invoice.invoice_number}}</td>
          <td>{{input type="text" class="form-control" value=invoice.discount autofocus=invoice.autofocus}}</td>
          <td>{{invoice.balance}}</td>
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2" class="text-right">Total</td>
        <td>{{total}}</td>
      </tr>
      <tr>
        <td colspan="2" class="text-right">Discount</td>
        <td>{{discount}}</td>
      </tr>
      <tr>
        <td colspan="2" class="text-right">Received</td>
        <td>{{input class="form-control" value=received}}</td>
      </tr>
      <tr>
        <td colspan="2" class="text-right">Balance</td>
        <td>{{balance}}</td>
      </tr>
    </tfoot>
  </table>
  <button class="btn btn-default pull-right" {{action "goToList"}} type="button">Cancel</button>
  <button class="btn btn-primary pull-right" disabled= {{isSaving}} {{action "saveAndRecordPayment"}}>Record</button>
</form>
{{#if canShowPrint}}
<div class="cash-print">
  <div style="border: 1px solid #333;font-size:18px">
    <table class="pcs-itemtable" style="border-collapse: collapse;">
      <thead>
        <tr style="height:32px;">
          <td style="width:5%">S.No</td>
          <td style="word-wrap: break-word;width: 35%;"><b>Bill no&nbsp;</b></td>
          <td style="word-wrap: break-word;width:20%;" align="right"><b>Amount</b></td>
          <td style="word-wrap: break-word;width:20%;" align="right"><b>Discount</b></td>
          <td style="word-wrap: break-word;width:20%;" align="right"><b>Paid</b></td>
        </tr>
      </thead>
      <tbody  style="font-weight: bold">
        {{#each model as |invoice index|}}
          <tr>
            <td valign="top">{{get-index index}}</td>
            <td valign="top">{{invoice.invoice_number}}</td>
            <td style="text-align:right;" valign="top">{{invoice.balance}} </td>
            <td style="text-align:right;" valign="top">{{invoice.discount}} </td>
            <td style="text-align:right;" valign="top">{{difference invoice.balance invoice.discount}}</td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr style="height:32px;">
          <td colspan="2" style="word-wrap: break-word;width: 40%;text-align: center;"><b>Total</b></td>
          <td style="word-wrap: break-word;width: 20%;" align="right"><b>{{total}}</b></td>
          <td style="word-wrap: break-word;width: 20%;" align="right"><b>{{discount}}</b></td>
          <td style="word-wrap: break-word;width: 20%;" align="right"><b>{{totalPayable}}</b></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
{{/if}}
