<h3 class="text-center hidden-print">Transfer Stock</h3>
{{#if this.errorMessage}}
  <div class="alert alert-danger hidden-print">
    {{this.errorMessage}}
  </div>
{{/if}}
<table class="table">
  <thead>
    <tr>
      <th> S.No </th>
      <th> SKU </th>
      <th> Name </th>
      <th> Sales Rate </th>
      <th> Purchase Rate </th>
      <th> Quantity </th>
      <th>  </th>
    </tr>
  </thead>
  <tbody>
    {{#each this.items as |result index|}}
      <tr>
        <td> {{get-index index}} </td>
        <td> {{result.SKU}} </td>
        <td> {{result.[Item Name]}} </td>
        <td> {{result.Rate}} </td>
        <td> {{result.[Purchase Rate]}} </td>
        <td> <Input class="form-control" @value={{result.[Initial Stock]}} {{on "focusout" this.computeTotal}}/> </td>
        {{!-- <td> {{result.[Initial Stock]}} </td> --}}
        <td {{on "click" (fn this.removeLineItemC result)}}><button type="button" class="btn btn-danger pull-right">Delete</button></td>
      </tr>
    {{/each}}
    <tr>
      <td colspan="5" align="center">Total</td>
      <td>{{this.total}}</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><Input class="form-control" @enter={{this.itemChangedC}} {{autofocus}} /></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<div class="btn-toolbar">
  <div class="btn-group">
    <button type="button" disabled={{this.isSaving}} {{on "click" this.saveC}} class="btn btn-primary">Save</button>
  </div>
</div>