<div class="btn btn-toolbar hidden-print" style="margin-top:30px">
  <button 
    class="btn btn-primary" 
    type="button" 
    {{on "click" this.print}}
  >
    Print
  </button>
  <button 
    class="btn btn-default" 
    type="button" 
    {{on "click" this.clear}}
  >
    Clear
  </button>
</div>

<table class="table hidden-print">
  <thead>
    <tr>
      <th>Item Code</th>
      <th>Item Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.items as |item|}}
      <tr>
        <td>{{item.SKU}}</td>
        <td>{{item.Description}}</td>
        <td>{{item.Rate}}</td>
        <td>
          <Input 
            @value={{item.qty}}
            class="form-control"
            @autofocus={{true}}
          />
        </td>
      </tr>
    {{/each}}
    <tr>
      <td>
        <Input 
          class="form-control"
          @autofocus={{true}}
          @enter={{this.addNewItem}}
        />
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<BarcodeList @items={{this.printitems}} />