<div class="btn btn-toolbar hidden-print" style="margin-top:30px">
  <button {{action 'print'}} class="btn btn-primary">Print</button>
  <button {{action 'clear'}} class="btn btn-default">Clear</button>
</div>
<table class="table hidden-print">
  <thead>
    <tr>
      <th> Item Code </th>
      <th> Item Name </th>
      <th> Price </th>
      <th> Quantity </th>
    </tr>
  </thead>
  <tbody>
    {{#each items as |item|}}
      <tr>
        <td>{{item.SKU}}</td>
        <td>{{item.Description}}</td>
        <td>{{item.Rate}}</td>
        <td>{{input value=item.qty class="form-control" autofocus=true}}</td>
      </tr>
    {{/each}}
    <tr>
      <td> {{input class="form-control" autofocus=true enter="addNewItem"}}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
{{barcode-list items=printitems}}
