<h3 class="text-center hidden-print">Sales Edit</h3>

<div style="margin:20px" class="hidden-print">
  {{#if this.msg}}
    <div class="alert alert-danger">
      {{this.msg}}
    </div>
  {{/if}}

  <div class="form-group">
    <label class="col-md-3">Bill No: </label>
    <div class="col-md-6">
      <Input 
        class="form-control"
        @enter={{this.searchInvoice}}
        @value={{this.invoiceNumber}}
        @autofocus={{true}}
      />
    </div>
    <div class="col-md-3">
      <button 
        disabled={{this.isSearching}}
        class="btn btn-primary"
        type="button"
        {{on "click" (fn this.searchInvoice this.invoiceNumber)}}
      >
        Search
      </button>
    </div>
  </div>
  <br><br><br>
</div>

{{#if this.canShowDetails}}
  <SalesTable 
    @model={{this.model}}
    @addNewItem={{this.addNewItem}}
    @addTempItem={{this.addTempItem}}
    @removeLineItem={{this.removeLineItem}}
    @saveAndPrint={{this.saveAndPrint}}
    @newSale={{this.newSale}}
  />
{{/if}}

<SalesReceipt 
  @model={{this.model}}
  @numberLabel="Bill No"
  @isSales={{true}}
/>