<h3 class="text-center hidden-print">Sales Edit</h3>
<div style="margin:20px" class="hidden-print">
  {{#if msg}}
  <div class="alert alert-danger">
    {{msg}}
  </div>
  {{/if}}
  <div class="form-group">
    <label class="col-md-3">Bill No: </label>
    <div class="col-md-6">
      <Input class="form-control" @enter="searchInvoice" @value={{invoiceNumber}} @autofocus={{true}} />
    </div>
    <div class="col-md-3">
      <button disabled={{isSearching}} class="btn btn-primary" type="button" {{action "searchInvoice" invoiceNumber}}>Search</button>
    </div>
  </div>
    <br><br><br>
</div>
{{#if canShowDetails}}
<SalesTable @model={{model}} />
{{/if}}
<SalesReceipt @model={{model}} />
