<h3>
  {{#if this.model.isNew}}New Counting{{else}}Edit Counting{{/if}}
  -
  {{this.model.count_id}}
</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th> S.No </th>
      <th> SKU </th>
      <th> Item Name </th>
      <th> Cost Price </th>
      <th> Cost Value </th>
      <th> Sales Price </th>
      <th> Sales Value </th>
      <th> Quantity </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model.items as |item index|}}
      <tr>
        <td> {{get-index index}} </td>
        <td> {{item.sku}} </td>
        <td> {{item.description}} </td>
        <td> {{item.cost_price}} </td>
        <td> {{format-currency item.cost_value}} </td>
        <td> {{item.sales_price}} </td>
        <td> {{format-currency item.sales_value}} </td>
        <td> <Input class="form-control" @value={{item.qty}} /></td>
        <td>
          <button
            type="button"
            {{on "click" (fn this.deleteItemC item)}}
            class="btn btn-danger"
          >
            Delete
          </button>
        </td>
      </tr>
    {{/each}}
    <tr>
      <td></td>
      <td>
        <Input
          class="form-control"
          @enter={{this.itemChangedC}}
          {{autofocus}}
        />
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" class="text-center"> Total </td>
      <td colspan="2"> {{format-currency this.model.totalCV}} </td>
      <td colspan="2"> {{format-currency this.model.totalSV}} </td>
      <td> {{this.model.totalQty}}</td>
    </tr>
  </tfoot>
</table>
<div class="btn-toolbar pull-right">
  <div class="btn-group">
    <button
      type="button"
      disabled={{this.model.isSaving}}
      {{on "click" this.saveC}}
      class="btn btn-primary"
    >
      Save
    </button>
  </div>
  <div class="btn-group">
    <button
      type="button"
      {{on "click" this.cancelC}}
      class="btn btn-default"
    >
      Cancel
    </button>
  </div>
  {{#unless this.model.isNew}}
    <div class="btn-group">
      <button
        type="button"
        {{on "click" this.deleteC}}
        class="btn btn-danger"
      >
        Delete Counting
      </button>
    </div>
  {{/unless}}
</div>

{{outlet}}