<div class="form-horizontal hidden-print" style="margin:20px">
  {{#if this.errorMessage}}
    <div class="alert alert-danger">
      {{this.errorMessage}}
    </div>
  {{/if}}

  <div class="form-group">
    <div class="col-md-3">Supplier</div>
    <div class="col-md-9">
      <PowerSelect 
        @searchEnabled={{true}} 
        @selected={{this.model.vendor}} 
        @options={{this.session.vendors}} 
        @onChange={{this.selectVendor}} 
        @searchField="contact_name" 
        as |vendor|
      >
        {{vendor.contact_name}}
      </PowerSelect>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3">Bill Number</div>
    <div class="col-md-9">
      <Input 
        class="form-control" 
        @value={{this.model.bill_number}} 
      />
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>S.No</th>
        <th>SKU</th>
        <th>Name</th>
        <th>Purchase Rate</th>
        <th>Sales Rate</th>
        <th>Discount</th>
        <th>Brand</th>
        <th>Design</th>
        <th>Size</th>
        <th>Quantity</th>
        <th>Sticker</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each this.model.line_items as |lineItem index|}}
        <tr>
          <td>{{get-index index}}</td>
          <td>{{lineItem.SKU}}</td>
          <td>{{lineItem.Description}}</td>
          <td>{{lineItem.PurchaseRate}}</td>
          <td>{{lineItem.Rate}}</td>
          <td>{{lineItem.CF.Discount}}</td>
          <td>{{lineItem.CF.Brand}}</td>
          <td>{{lineItem.CF.Design}}</td>
          <td>{{lineItem.CF.Size}}</td>
          <td>
            <Input 
              class="form-control" 
              @value={{lineItem.quantity}} 
              {{autofocus}}
            />
          </td>
          <td>
            <Input 
              class="form-control" 
              @value={{lineItem.sticker}} 
            />
          </td>
          <td>
            <button 
              type="button" 
              class="btn btn-danger pull-right" 
              {{on "click" (fn this.removeLineItem lineItem)}}
            >
              Delete
            </button>
            <br>
            <button 
              type="button"
              class="btn btn-link" 
              {{on "click" (fn this.addItem lineItem)}}
            >
              Clone
            </button>
          </td>
        </tr>
      {{/each}}
      <tr>
        <td></td>
        <td>
          <Input 
            class="form-control" 
            {{autofocus}}
            {{on "enter" this.addNewItem}} 
          />
          <button 
            type="button"
            class="btn btn-link" 
            {{on "click" (fn this.addItem)}}
          >
            Add Item
          </button>
        </td>
        <td colspan="10"></td>
      </tr>
      <tr>
        <td></td>
        <td>Total</td>
        <td></td>
        <td>{{this.purchaseTotal}}</td>
        <td>{{this.salesTotal}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{this.qtyTotal}}</td>
        <td>{{this.stickerTotal}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="btn-toolbar">
    <button 
      type="button"
      disabled={{this.model.isSaving}} 
      class="btn btn-primary" 
      {{on "click" this.save}}
    >
      Save
    </button>
    <button 
      type="button"
      class="btn btn-default" 
      {{on "click" (fn @reload)}}
    >
      New
    </button>
  </div>
</div>

{{#if this.isShowingModal}}
  <ModalDialog 
    @containerClass="new-item" 
    @close={{this.closeModal}} 
    @translucentOverlay={{true}}
  >
    <div class="hidden-print">
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-md-2">SKU</div>
          <div class="col-md-4">
            <Input 
              class="form-control" 
              @value={{this.newItemModel.sku}} 
              disabled={{true}} 
            />
          </div>
          <div class="col-md-2">Name</div>
          <div class="col-md-4">
            <PowerSelect 
              @searchEnabled={{true}} 
              @selected={{this.newItemModel.description}} 
              @options={{this.session.names}} 
              @onChange={{this.selectName}} 
              @onKeydown={{this.createNameOnEnter}} 
              as |name|
            >
              {{name}}
            </PowerSelect>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2">Group</div>
          <div class="col-md-4">
            <PowerSelect 
              @searchEnabled={{true}} 
              @selected={{this.newItemModel.group}} 
              @options={{this.session.groups}} 
              @onChange={{this.selectGroup}} 
              @onKeydown={{this.createGroupOnEnter}} 
              as |group|
            >
              {{group}}
            </PowerSelect>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2">Purchase Rate</div>
          <div class="col-md-4">
            <Input 
              class="form-control" 
              @value={{this.newItemModel.purchase_rate}} 
              {{on "focusout" this.purchaseRateChanged}} 
            />
          </div>
          <div class="col-md-2">Profit</div>
          <div class="col-md-4">
            <Input 
              class="form-control" 
              @value={{this.newItemModel.profit}} 
              {{on "focusout" this.profitChanged}} 
            />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2">Sales Rate</div>
          <div class="col-md-4">
            <Input 
              class="form-control" 
              @value={{this.newItemModel.rate}} 
            />
          </div>
          <div class="col-md-2">Discount</div>
          <div class="col-md-4">
            <Input 
              class="form-control" 
              @value={{this.newItemModel.discount}} 
            />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2">Size</div>
          <div class="col-md-4">
            <PowerSelect 
              @searchEnabled={{true}} 
              @selected={{this.newItemModel.size}} 
              @options={{this.session.sizes}} 
              @onChange={{this.selectSize}} 
              @onKeydown={{this.createSizeOnEnter}} 
              as |size|
            >
              {{size}}
            </PowerSelect>
          </div>
          <div class="col-md-2">Design</div>
          <div class="col-md-4">
            <PowerSelect 
              @searchEnabled={{true}} 
              @selected={{this.newItemModel.design}} 
              @options={{this.session.designs}} 
              @onChange={{this.selectDesign}} 
              @onKeydown={{this.createDesignOnEnter}} 
              as |design|
            >
              {{design}}
            </PowerSelect>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2">Brand</div>
          <div class="col-md-4">
            <PowerSelect 
              @searchEnabled={{true}} 
              @selected={{this.newItemModel.brand}} 
              @options={{this.session.brands}} 
              @onChange={{this.selectBrand}} 
              @onKeydown={{this.createBrandOnEnter}} 
              as |brand|
            >
              {{brand}}
            </PowerSelect>
          </div>
          <div class="col-md-2">Colour</div>
          <div class="col-md-4">
            <Input 
              class="form-control" 
              @value={{this.newItemModel.colour}} 
            />
          </div>
        </div>

        <div class="btn-toolbar">
          <button 
            type="button"
            disabled={{this.newItemModel.isSaving}} 
            class="btn btn-primary" 
            {{on "click" this.saveItem}}
          >
            Save
          </button>
          <button 
            type="button"
            class="btn btn-default" 
            {{on "click" this.closeModal}}
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </ModalDialog>
{{/if}}

<BarcodeList @items={{this.printItems}} />