<h3 class="text-center hidden-print">Stock Details</h3>
<div class="form-horizontal" style="padding:20px;">
  <div class="form-group row">
    <div class="col-md-3">
      <div>Group</div>
      <div>
        <PowerSelect @searchEnabled={{true}} @class="form-control" @selected={{this.searchModel.group}} @options={{this.session.groups}} @onChange={{this.selectGroup}} as |design|>
          {{design}}
        </PowerSelect>
      </div>
    </div>
    <div class="col-md-3">
      <div>Size</div>
      <div>
        <PowerSelect @searchEnabled={{true}} @class="form-control" @selected={{this.searchModel.size}} @options={{this.session.sizes}} @onChange={{this.selectSize}} as |size|>
          {{size}}
        </PowerSelect>
      </div>
    </div>
    <div class="col-md-3">
      <div>Design</div>
      <div>
        <PowerSelect @searchEnabled={{true}} @class="form-control" @selected={{this.searchModel.design}} @options={{this.session.designs}} @onChange={{this.selectDesign}} as |design|>
          {{design}}
        </PowerSelect>
      </div>
    </div>
    <div class="col-md-3">
      <div>Brand</div>
      <div>
        <PowerSelect @searchEnabled={{true}} @class="form-control" @selected={{this.searchModel.brand}} @options={{this.session.brands}} @onChange={{this.selectBrand}} as |design|>
          {{design}}
        </PowerSelect>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-2">
      <button class="btn btn-primary" type="button" {{on "click" this.searchItemsC}}>Search</button>
      <button class="btn btn-default" type="button" {{on "click" this.clearAll}}>Clear All</button>
    </div>
  </div>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th> S.No </th>
        <th> SKU </th>
        <th> Name </th>
        <th> Group </th>
        <th> Size </th>
        <th> Design </th>
        <th> Brand </th>
        <th> Sales Rate </th>
        <th> Purchase Rate </th>
        <th> Quantity </th>
        <th> Amount </th>
      </tr>
    </thead>
    <tbody>
      {{#if this.isLoading}}
        <tr>
          <td colspan="10" align="center">Loading</td>
        </tr>
      {{else}}
        {{#each this.results as |result index|}}
          <tr>
            <td> {{get-index index}} </td>
            <td> {{result.sku}} </td>
            <td> {{result.description}} </td>
            <td> {{get result this.groupCFIDLabeL}} </td>
            <td> {{get result this.sizeCFIDLabeL}} </td>
            <td> {{get result this.designCFIDLabeL}} </td>
            <td> {{get result this.brandCFIDLabeL}} </td>
            <td> {{result.rate}} </td>
            <td> {{result.purchase_rate}} </td>
            <td> {{result.stock_on_hand}} </td>
            <td> {{product result.stock_on_hand result.purchase_rate}} </td>
          </tr>
        {{/each}}
      {{/if}}
    </tbody>
    {{#unless this.isLoading}}
      <tfoot>
        <tr>
          {{#if this.hasMore}}
            <td colspan="10" align="center" {{on "click" this.loadMore}}><a href="#">Load More</a></td>
          {{else if this.results}}
            <td colspan="9" align="right">Total</td>
            <td>{{this.totalQty}}</td>
            <td>{{this.totalAmount}}</td>
          {{/if}}
        </tr>
      </tfoot>
    {{/unless}}
  </table>
</div>
